
* {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-align: center;
    }

    td {
        width: 5vw;
        border: 1px solid black;
        font-weight: 500;
        text-align: center;
        font-size: small;  
      }

    .noBorder {
        border: none;
        font-size: larger;
    }

    .headingOne {
        background-color: yellow;
        padding: 5px;
        font-size: 5vw;
    }
    .Anctinídeos{
      background-color: darksalmon;
      color: #020080;
    }
    .Anctinídeos:hover{
      background-color: blanchedalmond;
      color: blue;
    }
    .Lantanídeos{
      background-color: coral;
      color: darkblue;
    }
    .a1{
      background-color: dodgerblue;
    }
    .a1:hover{
      background-color: aqua;
      color: beige;
    }
    .Lantanídeos:hover{
      background-color: pink;
      color: black;
    }
    .a2{
      background-color: lightseagreen;

    }
    .a2:hover{
      background-color: blanchedalmond;
    }
    .b3{
      background-color: yellow;
      color:blueviolet;
      
    }
    .b3:hover{
      background-color: indianred;
      color: white;
    }
    .a8{
      background-color: skyblue;
      color: rgb(30, 101, 255);
    }
    .a8:hover{
      background-color: darkblue;
      color: skyblue;
    }
    .a3{
      background-color: chartreuse;
    }
    .a3:hover{
      background-color: cornflowerblue;
      color: gold;
    }
    .a4{
      background-color: mediumturquoise;
      color: blue;
    }
    .a4:hover{
      background-color: deeppink;
      color: white;
    }
    .a5{
      background-color: darkgreen;
      color: cyan;
    }
    .a5:hover{
      background-color: aliceblue;
      color: black;
    }
    .me_bromo{
      background-color: goldenrod;
      color: red;
      
    }
    .a7{
      background-color: khaki;
    }
